<!-- this is a generic form page.  Best way to make a new form page is to 
copy this one and then edit it. -->

{% extends "base.html" %}

{% block body %}
        <h1>Form Page Title</h1>

        <form method=post>
            {{ form.hidden_tag() }}

            <!-- Repeat this p tag for each form element -->
            <p>
            {{ form.field.label }} <br>
            {{ form.field(size=64) }}
            <!--List the errors for this field-->
            {% for error in form.field.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </p>
            
            {{form.submit()}}
        </form>
        
{% endblock %}
